.navwrapper
  .nav
    %ul
      %li.navitem
        %a{:href => "http://elliotdahl.com/#portfolio"} Portfolio
      %li.navitem
        %a{:href => "http://elliotdahl.com/#about"} About
      %li.navlogo
        %a{:href => "http://elliotdahl.com/"}
          .navlogowrapper
            .navlogohold
              %svg#Layer_1{"enable-background" => "new 0 0 500 500", :version => "1.1", :viewBox => "0 0 500 500", :width => "30", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %path{:d => "M410,372.3h-71.7l-61.8-107h132.4v-30.6H276.5l61.8-107H410c34.1,0,61.8-27.7,61.8-61.8\n\t\t\t\t\t\t\tc0-34.1-27.7-61.8-61.8-61.8c-22.3,0-42.7,12.3-54.5,32.6l-34.8,60.4H179.4l-34.8-60.4C132.7,16.3,112.5,4.1,90,4.1\n\t\t\t\t\t\t\tC56,4.1,28.3,31.8,28.3,65.9c0,34.1,27.7,61.8,61.8,61.8h71.7l61.8,107H91.3v30.6h132.4l-61.8,107H90.2c-34.1,0-61.8,27.7-61.8,61.8\n\t\t\t\t\t\t\tc0,34.1,27.7,61.8,61.8,61.8c22.3,0,42.7-12.3,54.5-32.6l34.8-60.4h141.3l34.6,59.9l0.2,0.4c11.9,20.4,32.1,32.6,54.5,32.6\n\t\t\t\t\t\t\tc34.1,0,61.8-27.7,61.8-61.8C471.7,400.1,444.1,372.3,410,372.3z M381.9,52.1c6.3-11.1,16.6-17.4,28-17.4\n\t\t\t\t\t\t\tc17.2,0,31.2,14.1,31.2,31.2s-14.1,31.2-31.2,31.2h-54.1l0,0L381.9,52.1z M90,97.1c-17.1,0-31.2-13.9-31.2-31.2S73,34.7,90.1,34.7\n\t\t\t\t\t\t\tc11.5,0,21.6,6.3,28,17.4L144,97.2L90,97.1L90,97.1L90,97.1z M303,127.7L250,219.4l-52.9-91.7L303,127.7L303,127.7L303,127.7z\n\t\t\t\t\t\t\t M118.1,447.9c-6.3,11.1-16.6,17.4-28,17.4c-17.2,0-31.2-14.1-31.2-31.2s14.1-31.2,31.2-31.2h54.1L118.1,447.9z M197.1,372.3\n\t\t\t\t\t\t\tl52.9-91.7l52.9,91.7H197.1z M410,465.4c-11.4,0-21.5-6.3-27.9-17.2L356,402.8h54.1c17.2,0,31.2,14.1,31.2,31.2\n\t\t\t\t\t\t\tC441.2,451.3,427.1,465.4,410,465.4z", :fill => "#727272"}/
            /
              insert this for SVG alternate === onerror="this.onerror=null; this.src='images/elliotlogo_xs.png'"
              <img src="images/elliotlogo.svg" alt="Elliot Dahl"  class="">
              \==
      %li.navitem
        %a{:href => "http://elliotdahl.com/#resume"} Resume
      %li.navitem
        %a{:href => "http://elliotdahl.com/#contact"} Contact