---
title: Elliot Dahl Designs
---

%section.showcase
  .container
    .row
      .eight.columns.offset-by-two
        %h2.text-center Automotive Workwear
        %h5.text-center 2013 - 2015
        %p.format_text Automotive Workwear has been a successful website for over ten years. With that kind of search ranking history in Google any changes made to the site need to be done with SEO in mind. My goal was to make a smooth transition to a more modern aesthetic while improving the user experience through new features and a cleaner interface.
    .row
      .divider
    .row
      .six.columns
        %h4 Web Design
        %h6 Home Page
        %p.format_text
          The home page was moved over to an tiled image arrangement that would allow users to absorb more information in less time through visual cues. I wanted our customers to be able to get into the products they love through less clicks and less reading. The mini category visuals across the middle of the page have accomplished just that. By offering multiple ways to navigate we didn’t alienate our legacy users that were used to the static side navigation.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "AW Home Page", :href => "images/AW/AW-home.jpg"}
          %img{:src => "images/AW/AW-home.jpg"}
    .row
      .six.columns
        %h6 Category Page
        %p.format_text
          Once again employing visual navigation across the top to get customers engaged and navigating quickly. The items displayed are focused around their product images and low prices. One of our goals was to keep the number of clicks to get into our top selling products low. A click on any top level category will display the top selling items. Additional filters and a more comprehensive search feature are available to those on the hunt for something more specific.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Category Page", :href => "images/AW/AW-cat-mensshirts.jpg"}
          %img{:src => "images/AW/AW-cat-mensshirts.jpg"}
    .row
      .six.columns
        %p.format_text
          Additional filter options appear for more complex products groups.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Filtering Options", :href => "images/AW/AW-cat-frcoveralls.jpg"}
          %img{:src => "images/AW/AW-cat-frcoveralls.jpg"}
    .row
      .six.columns
        %h6 Product Page
        %p.format_text
          The product page was reconstructed to offer new features and streamline the purchasing decision. The additional images area was added below the main product image so that customers can inspect fabrics, see new angles, and better grasp the fine details. The “You Might Also Like These” additional product section was added to try to simplify and encourage product-to-product browsing. The Product Reviews were removed from a hidden tab under garment details and placed out in the open for SEO purposes and restructured to take your eyes from the title to the review with ease. The schema tags embedded in the product pages gives us a leg up on competition because our search results show star rating, review number, and price right in the result.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Product Page", :href => "images/AW/AW-prod-sp24.jpg"}
          %img{:src => "images/AW/AW-prod-sp24.jpg"}
        %a{"data-lightbox" => "image-1", "data-title" => "Product Page", :href => "images/AW/AW-prod-sp24-added.jpg"}
          %img{:src => "images/AW/AW-prod-sp24-added.jpg"}
    .row
      .six.columns
        %h6 Basket Page
        %p.format_text
          Bringing the product image of the item you just added to your cart is a major improvement to the basket page. I was able to take advantage of the wider layout and display more information in a more relaxed way. The call to action is large and clear with the green button lighting the way. Security is a major concern for online shoppers which is why you’ll see the golden lock and Norton Secure logo in all secure areas.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Basket Page", :href => "images/AW/AW-basket.jpg"}
          %img{:src => "images/AW/AW-basket.jpg"}
    .row
      .six.columns
        %h6 Checkout Flow
        %p.format_text
          The intention with the checkout process was to get the customers through quickly and feeling confident about their purchase. While our shopping cart platforms limits some of our abilities I was constantly pushing the boundaries of what was possible to provide the best possible experience. The key focus was to ease concerns and increase buyer's confidence. When the customer feels empowered they are more likely to complete the transaction.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Checkout Page", :href => "images/AW/AW-checkout-shipping.jpg"}
          %img{:src => "images/AW/AW-checkout-shipping.jpg"}
%section
  .container
    .row
      .twelve.columns.text-center
        %h2 Contact
      .eight.columns.offset-by-two.text-center.contact-icons
        %a{:href => "https://twitter.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-twitter
        %a{:href => "https://instagram.com/elliotdahl/", :target => "_blank"}
          %i.fa.fa-instagram
        %a{:href => "https://dribbble.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-dribbble
        %a{:href => "https://vimeo.com/elliotdahl", :target => "_blank"}
          %i.fa.fa-vimeo-square
        %a{:href => "http://elliotdahl.tumblr.com/", :target => "_blank"}
          %i.fa.fa-tumblr
        %a{:href => "https://www.linkedin.com/in/elliotdahl", :target => "_blank"}
          %i.fa.fa-linkedin
=partial 'shared/footer'