---
title: Elliot Dahl Designs
---

%section.showcase
  .container
    .row
      .eight.columns.offset-by-two
        %h2.text-center JEO Consulting Group
        %h5.text-center 2012 - 2015
        %p.format_text In 2012 JEO tasked me with making a new corporate website in just under four months. What I launched at the end of that time period opened the door to a greater relationship with the company and it’s people. Over the past few years I’ve continued to consult for JEO and provide guidance on their brand and image. The key was to focus on JEO’s fundamental values around fun, personal growth, and family.
        %p.format_text
          %i.dk-bluegrey “Complete satisfaction and gratefulness not only for the final product, but for the way that he delivered it.” - Rob Brigham, CEO
    .row
      .divider
    .row
      .six.columns
        %h4 Web Design
        %p.format_text
          The intention for the redesign was to attract new talent to the careers pages and instill confidence in the companies many clients, old and new. I decided to break down the home page to accommodate the main categories of users. By selecting one of those avenues the website launches you down a path to get quick information on the things you’ve signaled are important to you.
        %p.format_text
          JEO has seen healthy growth since the launch of the website. While I can’t take credit for their hard work, the website has served as a solid image of what JEO is all about for the curious client or potential hire.
        %p.format_text
          %i.dk-bluegrey “Elliot has an uncanny ability to lead. He is confident while being accomodating. He listens carefully to people, assessing each situation and responding appropriately, based on his observations.” - Mark Bohn, Client Development Manager
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Home Page", :href => "images/JEO/jeo-home.jpg"}
          %img{:src => "images/JEO/jeo-home.jpg"}
        %a{"data-lightbox" => "image-1", "data-title" => "Funding Services Page", :href => "images/JEO/jeo-funding.jpg"}
          %img{:src => "images/JEO/jeo-funding.jpg"}
    .row
      .six.columns
        %h4 Video
        %p.format_text
          I wanted to showcase JEO’s people in a way that text and images just couldn’t. I worked with the executive team and department managers to script and shoot seven videos to describe major areas of JEO’s business. Using my own Canon T2i DSLR I directed, shot, and edited all of the videos.
      .six.columns
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/47012706?color=ed1c24&title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "490"}
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "276", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/47253012?color=ed1c24&title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "490"}
%section
  .container
    .row
      .twelve.columns.text-center
        %h2 Contact
      .eight.columns.offset-by-two.text-center.contact-icons
        %a{:href => "https://twitter.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-twitter
        %a{:href => "https://instagram.com/elliotdahl/", :target => "_blank"}
          %i.fa.fa-instagram
        %a{:href => "https://dribbble.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-dribbble
        %a{:href => "https://vimeo.com/elliotdahl", :target => "_blank"}
          %i.fa.fa-vimeo-square
        %a{:href => "http://elliotdahl.tumblr.com/", :target => "_blank"}
          %i.fa.fa-tumblr
        %a{:href => "https://www.linkedin.com/in/elliotdahl", :target => "_blank"}
          %i.fa.fa-linkedin
=partial 'shared/footer'