---
title: Elliot Dahl Designs
---

%section.showcase
  .container
    .row
      .eight.columns.offset-by-two
        %h2.text-center Sullivan Uniforms
        %h5.text-center 2013 - 2015
        %p.format_text Sullivan Uniforms is a subsidiary of Automotive Workwear and was originally created to try to capture another side of the uniform market that might be turned off by the word Automotive. Utilizing AW’s competitive advantages and established business practices Sullivan Uniforms has seen promising growth over the last few years. The following portfolio piece is currently in production and slated for release in September 2015.
    .row
      .divider
    .row
      .six.columns
        %h4 Web Design
        %p This website is currently in production so some of the visuals are not fully completed. Please excuse some of the placeholder text and images. All possible fields have also been expanded so you may see errors and confirmations right next to each other.
        %h6 Home Page
        %p.format_text
          The home page is utilizing a full width visual tile display to get customers into their perspective categories fast. My focus with this website is on the subtle interaction details that I feel can really help to bring the site to life. For example, on hover, the tiles on the home page expand in the box slightly and a colored overlay dulls the images so that the text is brought forward in the visual hierarchy. This helps the user to quickly scan the visuals for products they are interested in and then hover their mouse to read closer.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Home Page", :href => "images/SU/su-home-concept.jpg"}
          %img{:src => "images/SU/su-home-concept.jpg"}
    .row
      .six.columns
        %h6 Category Page
        %p.format_text
          The category page is constructed to accommodate multiple brands and an increasing product catalog. The filter options at the top allow users to sort the products quicker and customize the category listing according to their priorities. The products have been displayed on fixed card layouts that have a slight shadow shift on mouse hover. The information on the card is organized according to a hierarchy of importance. Once again this concept has some placeholder images and text.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Category Page", :href => "images/SU/su-cat-concept.jpg"}
          %img{:src => "images/SU/su-cat-concept.jpg"}
    .row
      .six.columns
        %h6 Product Page
        %p.format_text
          The product page has been structured to focus on the product images followed by a simple succession of choices to add this product to your cart. The brand of the product is dynamically displayed in the top right corner since many of our customers shop by brand. The color of the main product image changes dynamically based on the color selected.
        %p.format_text
          Toward the bottom of the page the “Related Products” module has been designed to display a smaller version of the cards that we saw on the category page. Keeping the visual branding consistent so that users can become accustomed to our interface.
        %p.format_text
          The “Customer Reviews” module is built to convey the reviews as quick snippets that you can glance over quickly and add confidence to your purchasing decision.
        %p.format_text
          The “Added To Cart” popup reaffirms that the item has been added to your cart with your exact specifications detailed out. On the right of the popup window is the green progress bar that denotes how close a customer is to receiving free shipping. This meter is shown all throughout the checkout process right up until a customer needs to select a shipping option. The intention here is to push the basket value over the $99 mark and increase the average basket value.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Product Page", :href => "images/SU/su-prod-concept.jpg"}
          %img{:src => "images/SU/su-prod-concept.jpg"}
        %a{"data-lightbox" => "image-1", "data-title" => "Product Page - Added To Cart", :href => "images/SU/su-prod-concept-overlay.jpg"}
          %img{:src => "images/SU/su-prod-concept-overlay.jpg"}
    .row
      .six.columns
        %h6 Checkout Flow
        %p.format_text
          Similar to the work I did on Automotive Workwear, the key focus to the checkout process is conveying enough information to make the customer feel confident while making it simple enough for them to get through the process quickly. One of the competitive advantages of Sullivan Uniforms is the free shipping over $99. The green progress bar to free shipping shows up across the site as customers add products to their baskets and follows them up until they need to select a paid shipping option. The main checkout flow is built as an expanding accordion step process. While I am unable to build a single page checkout with our shopping cart I tried to create the same feeling by keeping consistent visual branding across all of the pages. The “Order Summary” sidebar conveys important information throughout the checkout process as customers confirm their orders and shipping addresses.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Checkout Flow - Basket", :href => "images/SU/su-bask-concept.jpg"}
          %img{:src => "images/SU/su-bask-concept.jpg"}
        %a{"data-lightbox" => "image-1", "data-title" => "Checkout Flow - Payment Information", :href => "images/SU/su-cart-4payinfo.jpg"}
          %img{:src => "images/SU/su-cart-4payinfo.jpg"}
%section
  .container
    .row
      .twelve.columns.text-center
        %h2 Contact
      .eight.columns.offset-by-two.text-center.contact-icons
        %a{:href => "https://twitter.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-twitter
        %a{:href => "https://instagram.com/elliotdahl/", :target => "_blank"}
          %i.fa.fa-instagram
        %a{:href => "https://dribbble.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-dribbble
        %a{:href => "https://vimeo.com/elliotdahl", :target => "_blank"}
          %i.fa.fa-vimeo-square
        %a{:href => "http://elliotdahl.tumblr.com/", :target => "_blank"}
          %i.fa.fa-tumblr
        %a{:href => "https://www.linkedin.com/in/elliotdahl", :target => "_blank"}
          %i.fa.fa-linkedin
=partial 'shared/footer'