---
title: Elliot Dahl Designs
---

%section.showcase
  .container
    .row
      .eight.columns.offset-by-two
        %h2.text-center Tile Inc.
        %h5.text-center 2015
        %p.format_text I was tasked with helping the marketing team at Tile design and develop seven on-boarding emails to help users get accustomed to their new device. Tile already has a strong and elegant branding associated with it so my intention was to uphold those standards and offer a new approach to their email marketing efforts. Additionally I’ve used my template based workflow to help them streamline their regular marketing emails to nurture their current clients.
    .row
      .divider
    .row
      .six.columns
        %h4 Email Marketing
        %p.format_text
          Mocked up, designed, and coded seven welcome series emails, as well as several additional marketing emails. Using my special Mailchimp template flow and knowledge of all the crazy quirks in the major email services I was able to broadcast a consistent message to all devices and users.
        %p.format_text
          My approach to the design of emails for Tile was mobile first. Since the users of Tile have to own a smart phone there is a pretty good chance that these emails will be opened on a phone over a desktop. With that in mind the emails are all built on a responsive template and tested on various physical devices as well as tools like Litmus.
      .six.columns
        %a{"data-lightbox" => "image-1", "data-title" => "Tile Welcome Email", :href => "images/Tile/tile-welcome-email1.jpg"}
          %img{:src => "images/Tile/tile-welcome-email1.jpg"}
        %a{"data-lightbox" => "image-1", "data-title" => "Tile Welcome Email", :href => "images/Tile/tile-welcome-email3.jpg"}
          %img{:src => "images/Tile/tile-welcome-email3.jpg"}
        %a{"data-lightbox" => "image-1", "data-title" => "Tile Welcome Email", :href => "images/Tile/tile-welcome-email6.jpg"}
          %img{:src => "images/Tile/tile-welcome-email6.jpg"}
%section
  .container
    .row
      .twelve.columns.text-center
        %h2 Contact
      .eight.columns.offset-by-two.text-center.contact-icons
        %a{:href => "https://twitter.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-twitter
        %a{:href => "https://instagram.com/elliotdahl/", :target => "_blank"}
          %i.fa.fa-instagram
        %a{:href => "https://dribbble.com/Elliotdahl", :target => "_blank"}
          %i.fa.fa-dribbble
        %a{:href => "https://vimeo.com/elliotdahl", :target => "_blank"}
          %i.fa.fa-vimeo-square
        %a{:href => "http://elliotdahl.tumblr.com/", :target => "_blank"}
          %i.fa.fa-tumblr
        %a{:href => "https://www.linkedin.com/in/elliotdahl", :target => "_blank"}
          %i.fa.fa-linkedin
=partial 'shared/footer'